*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    margin:0;
    padding:15px;

    font-family:'Pretendard',sans-serif;

    background:#f3f3f3;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

.container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.card{

    width:100%;

    max-width:500px;

    background:white;

    border-radius:28px;

    padding:40px 30px;

    box-shadow:0 10px 35px rgba(0,0,0,.12);

}

h1{

    font-size:46px;

    font-weight:800;

    margin-bottom:22px;

}

.sub{

    font-size:27px;

    line-height:1.5;

    margin-bottom:22px;

}

.guide{

    font-size:25px;

    margin-bottom:24px;

}

hr{

    margin:26px 0;

    border:none;

    border-top:2px solid #555;

}

.menu{

    width:100%;

    height:82px;

    margin:14px 0;

    border:none;

    border-radius:50px;

    background:#F49A1A;

    color:white;

    font-size:28px;

    font-weight:700;

    cursor:pointer;

    transition:.2s;

}

.menu:hover{

    transform:scale(1.02);

    background:#ef8d00;

}

.logo{

    width:280px;

    margin-top:25px;

}

.video-popup{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.75);

    display:none;

    justify-content:center;

    align-items:center;

    z-index:9999;

}

.video-box{

    width:min(95vw,1200px);

}

.video-box video{

    width:100%;

    border-radius:20px;

    background:black;

}

.close{

    float:right;

    margin-bottom:15px;

    width:60px;

    height:60px;

    border:none;

    border-radius:50%;

    font-size:28px;

    cursor:pointer;

}

@media (max-width:900px){

.card{

padding:30px;

}

h1{

    font-size:3rem;

    font-weight:800;

    text-align:center;

    margin-bottom:25px;

    line-height:1.3;

}

.sub{

font-size:22px;

}

.guide{

font-size:20px;

}

.menu{

    width:100%;

    border:none;

    border-radius:999px;

    background:#F79C1C;

    color:white;

    font-size:1.5rem;

    font-weight:700;

    padding:22px;

    margin:14px 0;

    cursor:pointer;

    transition:.2s;

}

.logo{

width:220px;

}

}

/* ========================= */
/* Tablet */
/* ========================= */

@media (max-width:1024px){

.card{

    max-width:650px;

    padding:45px;

}

h1{

    font-size:3.2rem;

}

.menu{

    font-size:1.6rem;

    padding:24px;

}

}

/* ========================= */
/* Mobile */
/* ========================= */

@media (max-width:768px){

body{

    padding:8px;

}

.card{

    max-width:100%;

    padding:25px 18px;

    border-radius:20px;

}

h1{

    font-size:2.4rem;

}

.sub{

    font-size:1.6rem;

}

.guide{

    font-size:1.3rem;

}

.menu{

    font-size:1.25rem;

    padding:18px;

    margin:12px 0;

}

.logo{

    width:220px;

}

}
